<div class="tab-pane portfolio-detail show contact-tab fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="row no-margin">
    <div class="col-md-6 no-padding">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119066.41264371821!2d72.75225621803635!3d21.159345832231725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e59411d1563%3A0xfe4558290938b042!2sSurat%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1674413155755!5m2!1sen!2sin"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-6">
      <div class="row cont-row no-margin">
        <div class="col-sm-6">
          <input placeholder="Enter Full Name" type="text" class="form-control form-control-sm">
        </div>
        <div class="col-sm-6">
          <input placeholder="Enter Email Address" type="text" class="form-control form-control-sm">
        </div>
      </div>
      <div class="row cont-row no-margin">
        <div class="col-sm-6">
          <input placeholder="Enter Mobile Number" type="text" class="form-control form-control-sm">
        </div>

      </div>
      <div class="row cont-row no-margin">
        <div class="col-sm-12">
          <textarea placeholder="Enter your Message" class="form-control form-control-sm" rows="10"></textarea>
        </div>

      </div>
      <div class="row cont-row no-margin">
        <div class="col-sm-6">
          <button class="btn btn-sm btn-success">Send Message</button>
        </div>

      </div>
    </div>
  </div>

</div>
