<div class="row top-det">
    <div class="col-md-4">
        <div class="profil-det-img d-flex">
            <div class="dp">
                <img src="assets/images/profile.jpg" alt="BJ">
            </div>
            <div class="pd">
                <h2>Nikhil Janshali</h2>
                <p>Senior Software Developer</p>
            </div>

        </div>
    </div>
    <div class="col-md-4 eml-mob">
        <ul>
            <li><i class="fas fa-envelope"></i> nikhil.janshali@hotmail.com</li>
            <li><i class="fas fa-envelope"></i> nikhil.janshali@gmail.com</li>
            <li><i class="fas fa-phone-square"></i> +91 - 82384 55699</li>
        </ul>
    </div>
    <div class="col-md-4 d-flex location-add">
        <ul>
            <li>
                <i class="fas fa-map-marker-alt"></i> Surat, Gujarat, India
            </li>
            <li>
                <i class="fab fa-github"></i>https://github.com/nikhiljanshali
            </li>
            <li>
                <i class="fab fa-linkedin-in"></i>in.linkedin.com/nikhil-janshali
            </li>
        </ul>
    </div>
</div>