<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.DASHBOARD" routerLinkActive="active">
        <i class="bi bi-display-fill  "></i>
        <span>Dashboard</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.PROFILE" routerLinkActive="active">
        <i class="bi bi-person-fill"></i>
        <span>Profile</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.ACHIVEMENTS" routerLinkActive="active">
        <i class="bi bi-trophy-fill"></i>
        <span>Achivements</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.ACADEMIC" routerLinkActive="active">
        <i class="bi bi-puzzle-fill"></i>
        <span>Acadamics</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.EMPLOYEMENT" routerLinkActive="active">
        <i class="bi bi-person-square"></i>
        <span>Employement</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.TECHNICAL" routerLinkActive="active">
        <i class="bi bi-patch-check-fill"></i>
        <span>Skills</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.SOFTSKILLS" routerLinkActive="active">
        <i class="bi bi-dice-6-fill"></i>
        <span>Soft-skills</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="nevigationList.LANGUAGE" routerLinkActive="active">
        <i class="bi bi-palette2"></i>
        <span>Languages</span>
        <i class="bi bi-chevron-double-right ms-auto"></i>
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->
