<div class="tab-pane education-detail fade show" id="education" role="tabpanel" aria-labelledby="education-tab">
    <div class="sec-title">
        <h2>Experience</h2>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>Dec-2021 to Sep-2022</h6>
            <p>Senior Software Engineer</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>GlowStar Diamond [IT Department]</h5>
            <h6>Surat, Gujarat India</h6>
            <ul class="features">
                <li><a><i class="fa fa-arrow-right"></i>Working with teams developing and updating applications
                        primarily using front-End frameworks like
                        Angular 10, Bootstrap, JavaScript, Angular Tools & Control using NPM, and NgxChart, this are the
                        huge part of our project.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>As a team player, i am helping team member to provide some
                        solution which resulable and individual
                        to run and use throught the application.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Providing solutions for a new enhancement or defect.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Involving in requirements gathering for new product
                        development.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Proposing new ideas to a client where they can overcome the
                        suitation of real-time scanario. </a></li>
            </ul>
        </div>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>Apr-2016 to Nov-2021</h6>
            <p>Sr. Software Engineer</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>Gateway Group of Comapnies</h5>
            <h6>Ahmedabad, Gujarat, India</h6>
            <ul class="features">
                <li><a><i class="fa fa-arrow-right"></i>Design and development of a product for Western European leasing
                        companies, car rental companies and
                        quote generation companies</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Assisting the business team in the preparation of a functional
                        prototype. This will enable them to
                        represent the project to the client and gain their trust in order to accomplish the goal</a>
                </li>
                <li><a><i class="fa fa-arrow-right"></i>Providing technical support for the development of a product so
                        the developer can implement it</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Enhancing a cloud-based ERP system for procurement, forecasting,
                        repackaging and warehouse
                        management, as well as campaigns to send handwritten notes to customers for UK-based clients</a>
                </li>
                <li><a><i class="fa fa-arrow-right"></i>In addition, we participate in almost all agile ceremonies where
                        we work as one team and provide
                        one-step business solutions to enable our consultant team to work efficiently.</a></li>
            </ul>
        </div>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>Apr-2014 to Mar-2016</h6>
            <p>Software Engineer</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>IBDTD</h5>
            <h6>Surat, Gujarat, India</h6>
            <ul class="features">
                <li><a><i class="fa fa-arrow-right"></i>Participate in the development of products for the Indian
                        domestic market in the field of
                        recruitment.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Participate in the development of in-house healthcare products to increase company growth in the
                        domestic market by analysing requirements, designing web parts, and drafting a process to
                        execute
                        in-house products
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Ensure efficient web development by supporting designers and app developers while resolving
                        website performance issues
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Support existing development applications and fix bugs during the staging and QA processes.
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Assist in updating the website to meet the needs of customers
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>Dec 2012 to Mar-2014</h6>
            <p>Software Engineer</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>Jupiter Systems</h5>
            <h6>Surat, Gujarat, India</h6>
            <ul class="features">
                <li><a><i class="fa fa-arrow-right"></i>Create, test, and release web apps.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Create proper code structures to handle particular tasks</a>
                </li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Work in concert with other programmers and designers to create web projects.Conduct research and
                        make suggestions for software that will work with emerging technology.
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Plan and organize intranet website updates and revisions.
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Fix bugs, investigate issues, and find solutions.
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>Oct 2011 to Nov-2011</h6>
            <p>Intern</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>Matrix Networks & Solutions</h5>
            <h6>Surat, Gujarat, India</h6>
            <ul class="features">
                <li><a><i class="fa fa-arrow-right"></i>Work in pairs with other developers to understand the software
                        development lifecycle.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>Develop your software engineering abilities by learning new
                        things.</a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Pay attention to your level of proficiency with a particular language, tool set, or component of
                        the
                        stack.
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Find and correct bugs.
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>
                        Assess, evaluate, and suggest software options.
                    </a></li>
                <li><a><i class="fa fa-arrow-right"></i>Create and model solutions that address the issue at hand.</a>
                </li>
            </ul>
        </div>
    </div>
</div>