/* ===================================== Import Less ================================== */
@font-face {
  font-family: 'mouse-300';
  src        : url("../fonts/PT_Sans-Web-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'mouse-500';
  src        : url("../fonts/PT_Sans-Web-Bold.ttf") format("truetype");
}

/* ===================================== Basic CSS ================================== */
* {
  margin    : 0px;
  padding   : 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline        : none;
  color          : #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left : 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline        : none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

p {
  margin-bottom: 0px;
  width        : 100%;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color    : #747f8a !important;
  font-size: 13px;
  opacity  : .5 !important;
}

.container-fluid {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

body {

  background     : linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation      : gradient 15s ease infinite;
  height         : 100vh;
  font-family    : "mouse-300", Arial, Helvetica, sans-serif;
  color          : #6A6A6A;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.session-title {
  padding: 30px;
  margin : 0px;
}

.session-title h2 {
  width     : 100%;
  text-align: center;
}

.session-title p {
  max-width : 850px;
  text-align: center;
  float     : none;
  margin    : auto;
}

.session-title span {
  float     : right;
  font-style: italic;
}

.inner-title {
  padding      : 20px;
  padding-left : 0px;
  margin-bottom: 30px;
}

.inner-title h2 {
  width      : 100%;
  text-align : center;
  font-size  : 2rem;
  font-family: "slab", Arial, Helvetica, sans-serif;
}

.inner-title p {
  width     : 100%;
  text-align: center;
}

.page-nav {
  padding    : 40px;
  text-align : center;
  padding-top: 160px;
}

.page-nav ul {
  float : none;
  margin: auto;
}

.page-nav h2 {
  font-size: 36px;
  width    : 100%;
  color    : #444;
}

@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}

.page-nav ul li {
  float       : left;
  margin-right: 10px;
  margin-top  : 10px;
  font-size   : 16px;
}

.page-nav ul li i {
  width     : 30px;
  text-align: center;
  color     : #444;
}

.page-nav ul li a {
  color: #444;
}

.btn-success {
  background-color: #00ab9f;
  border-color    : #00ab9f;
}

.btn-success:hover {
  background-color: #00ab9f !important;
  border-color    : #00ab9f !important;
}

.btn-success:active {
  background-color: #00ab9f !important;
  border-color    : #00ab9f !important;
}

.btn-success:focus {
  background-color: #00ab9f !important;
  border-color    : #00ab9f !important;
  box-shadow      : none !important;
}

.btn-info {
  background-color: #4f6dcd;
  border-color    : #4f6dcd;
}

.btn-info:hover {
  background-color: #4f6dcd !important;
  border-color    : #4f6dcd !important;
}

.btn-info:active {
  background-color: #4f6dcd !important;
  border-color    : #4f6dcd !important;
}

.btn-info:focus {
  background-color: #4f6dcd !important;
  border-color    : #4f6dcd !important;
  box-shadow      : none !important;
}

.btn {
  box-shadow   : 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none !important;
  border    : 2px solid #00a8df;
}

.btn-light {
  background-color: #FFF;
  color           : #3F3F3F;
}

.collapse.show {
  display: block !important;
}

.form-control:focus {
  box-shadow: none;
  border    : 2px solid #0d7a40 !important;
}

.form-control {
  background-color: #F8F8F8;
  margin-bottom   : 20px;
}

.form-control:focus {
  background-color: #FFF;
  border-color    : #CCC;
}

.container {
  max-width: 1100px;
}

/* ===================================== Header CSS ================================== */
.cover {
  background-image: url("../images/bg.jpg");
  background-size : cover;
  width           : 100%;
  height          : 250px;
}

.cover .cover-layer {
  position        : absolute;
  width           : 100%;
  height          : 250px;
  background-color: rgba(0, 0, 0, 0.3);
  padding         : 46px;
}

.web-portion {
  box-shadow         : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color   : #FFF;
  /* margin-top      : 30px; */
  padding            : 0px;
  /* margin-bottom   : 50px; */

}

.profil-det-img {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .profil-det-img {
    border-bottom: 1px solid #CCCCCCB3;
  }
}

.profil-det-img .dp {
  padding: 15px;
}

.profil-det-img .dp img {
  border-radius: 10%;
  width        : 100px;
}

@media screen and (max-width: 850px) {
  .profil-det-img .dp img {
    width: 60px;
  }
}

.profil-det-img .pd {
  padding       : 10px;
  vertical-align: middle;
  margin        : auto 0;
}

.profil-det-img .pd h2 {
  font-size    : 36px;
  margin-bottom: 0px;
  color        : #009b7f;
}

.profil-det-img .pd p {
  font-size    : 14px;
  font-weight  : bold;
  margin-bottom: 0px;
}

@media screen and (max-width: 850px) {
  .profil-det-img .pd h2 {
    font-size: 18px;
  }
}

.eml-mob {
  /* border-right: 1px solid #CCC;
  border-left : 1px solid #CCC; */
}

@media screen and (max-width: 767px) {
  .eml-mob {
    border-bottom: 1px solid #CCCCCCB3;
    padding      : 5px 30px;
    margin-top   : 0px;
  }
}

.eml-mob ul {
  padding    : 0px;
  margin-left: 0px;
  margin-top : 21px;
}

.eml-mob ul li i {
  color: #009b7f;
}

@media screen and (max-width: 767px) {
  .eml-mob ul {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 850px) {
  .eml-mob ul {
    margin-top: 13px;
  }
}

.eml-mob ul li {
  padding     : 5px 10px;
  font-size   : 16px;
  padding-left: 0px;
}

@media screen and (max-width: 850px) {
  .eml-mob ul li {
    font-size: 14px;
  }
}

.eml-mob ul li i {
  font-size   : 18px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .location-add {
    border-bottom: 1px solid #CCCCCCB3;
    padding      : 5px 30px;
    margin-top   : 0px;
  }
}

.location-add ul {
  padding    : 0px;
  margin-left: 0px;
  margin-top : 21px;
}

.location-add ul li i {
  color: #009b7f;
}



@media screen and (max-width: 767px) {
  .location-add ul {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 850px) {
  .location-add ul {
    margin-top: 13px;
  }
}

.location-add ul li {
  padding     : 5px 10px;
  font-size   : 16px;
  padding-left: 0px;
}

@media screen and (max-width: 850px) {
  .location-add ul li {
    font-size: 14px;
  }
}

.location-add ul li i {
  font-size   : 18px;
  margin-right: 10px;
}

.map-mark i {
  padding     : 10px;
  margin      : auto;
  font-size   : 44px;
  padding-left: 0px;
  margin-right: 10px;
}

@media screen and (max-width: 850px) {
  .map-mark i {
    font-size: 32px;
  }
}

.map-mark p {
  font-size    : 16px;
  margin       : auto 0;
  padding-right: 15px;
}

@media screen and (max-width: 850px) {
  .map-mark p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .map-mark {
    padding-left: 30px;
  }
}

.nav-detail .nav-tabs {
  background-color: transparent;
}

.nav-detail .nav-tabs .nav-link {
  padding    : 10px 40px;
  font-weight: 600;
}

@media screen and (max-width: 746px) {
  .nav-detail .nav-tabs .nav-link {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 544px) {
  .nav-detail .nav-tabs .nav-link {
    padding: 10px;
  }
}

@media screen and (max-width: 448px) {
  .nav-detail .nav-tabs .nav-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 406px) {
  .nav-detail .nav-tabs .nav-link {
    padding  : 10px 5px;
    font-size: 13px;
  }
}

.nav-detail .nav-tabs .nav-link.active {
  background-color: #cccccc47;
  border-top      : 0px;
  border-bottom   : 3px solid #00ab9f;
}

.home-det .big-img {
  border-right: 1px solid #cccccc82;
  padding     : 15px;
  text-align  : center;
}

.home-det .home-dat {
  padding: 25px;
}

.home-det .home-dat h3 {
  font-style: 22px;
}

.home-det .home-dat h3 {
  font-style: 22px;
}


.home-det .home-dat h5 {
  font-size: 25px;
  color    : #00ab9f;
}

.home-det .home-dat .links {
  padding: 10px 0px;
}

.home-det .home-dat .links .btn-link li {
  float        : left;
  padding      : 5px 10px;
  border-radius: 15px;
  border       : 1px solid #888;
  margin-right : 10px;
  color        : #888;
}

@media screen and (max-width: 483px) {
  .home-det .home-dat .links .btn-link li {
    margin-right : 5px !important;
    width        : 100%;
    margin-bottom: 10px;
  }
}

.home-det .home-dat .links .btn-link li i {
  margin-top: 5px;
}

.home-det .home-dat .links .btn-link li a {
  color: #888;
}

.home-det .home-dat .links .social-link {
  float: right;
}

.home-det .home-dat .links .social-link li {
  float        : left;
  padding      : 5px;
  border       : 1px solid #888;
  border-radius: 50px;
  width        : 35px;
  text-align   : center;
  margin-right : 10px;
}

@media screen and (max-width: 483px) {
  .home-det .home-dat .links .social-link li {
    margin-right: 5px !important;
    margin-top  : 20px;
  }
}

@media screen and (max-width: 1200px) {
  .home-det .home-dat .links {
    padding: 20px 0px;
  }

  .home-det .home-dat .links .social-link {
    margin-top: 20px;
  }
}

.home-det .home-dat .addrss-list {
  width: 100%;
}

.home-det .home-dat .addrss-list tr {
  border-left: 1px solid #CCC;
}

.home-det .home-dat .addrss-list tr td {
  padding: 13px 10px;
  border : 1px solid #CCC;
}

.home-det .home-dat .addrss-list tr th {
  border-top   : 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding      : 13px 10px;
}

@media screen and (max-width: 1200px) {
  .home-det .home-dat .addrss-list tr th {
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .home-det .home-dat .addrss-list tr th {
    width: 120px;
  }
}

.profile-tab {
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .profile-tab {
    padding: 30px 10px;
  }
}

.profile-tab .profile-desic {
  text-align: center;
}

.profile-tab .sec-title {
  padding   : 20px;
  text-align: center;
  font-size : 22px;
}

.profile-tab .service-ro .singe-servic {
  text-align   : center;
  margin-bottom: 25px;
  margin-top   : 10px;
}

.profile-tab .service-ro .singe-servic i {
  font-size    : 42px;
  margin-bottom: 20px;
  color        : #00ab9f;
}

.profile-tab .service-ro .singe-servic h4 {
  font-size    : 19px;
  margin-bottom: 10px;
}

.profile-tab .service-ro .singe-servic p {
  font-size: 14px;
}

.education-detail {
  padding: 0;
}

@media screen and (max-width: 940px) {
  .education-detail {
    padding: 30px 10px;
  }
}

.education-detail .sec-title {
  padding   : 20px;
  text-align: center;
  font-size : 22px;
}

.education-detail .service {
  padding: 20px;
}

.education-detail .service .resume-dat {
  text-align: center;
}

.education-detail .service .resume-dat p {
  text-align : center;
  font-weight: bold;
  color      : #00ab9f;
}

.education-detail .service .rgbf h6 {
  color: #00ab9f;
}

.portfolio-detail {
  padding: 20px;
}

.portfolio-detail .gallery img {
  margin-top: 20px;
}

.contact-tab {
  padding: 20px;
}

.contact-tab iframe {
  width : 100%;
  height: 400px;
}

@media screen and (max-width: 575px) {
  .rgbf {
    text-align: center;
  }
}



.rit-cover .work-exp {
  padding: 5px 0px;
}

.rit-cover .work-exp h6 {
  font-size    : .9rem;
  margin-bottom: 0px;
}

.rit-cover .work-exp h6 span {
  float    : right;
  font-size: .8rem;
}

.rit-cover .work-exp i {
  font-size: .9rem;
}

.rit-cover .work-exp ul {
  padding: 5px 0px;
}

.rit-cover .work-exp ul li {
  font-size   : .9rem;
  padding-left: 5px;
}

.rit-cover .work-exp ul li i {
  margin-right: 5px;
}



.features li {
  padding: 0;
  margin : 0;
}

.features li a {
  display        : block;
  text-decoration: none;
}

.features li a i {
  padding: 0px 10px 0px 0px;
}


.features li a:hover {
  background: url(http://www.pwnhost.com/images/listselected.png) no-repeat;
}

.refer-cov {
  padding: 10px 0px;
}

.refer-cov b {
  font-size: 1.1rem;
}

.refer-cov p {
  font-size: 1rem;
}

.refer-cov span {
  font-size: .9rem;
}

.side-image {
  padding: 10px;
}

.hobby-section {
  padding: 10px 0px;
}

.hoby li {
  float     : left;
  font-size : .9rem;
  padding   : 15px;
  text-align: center;
  width     : 33.33%;
}

.hoby li i {
  font-size    : 22px;
  margin-bottom: 15px;
  color        : #009b7f;
}

.ref-section {
  padding: 10px 0px;
}

.profess-cover {
  padding: 20px 0px;
}

.profess-cover .prog-row {
  width     : 100%;
  text-align: left;
  padding   : 8px 2px;
  font-size : .9rem;
}

.profess-cover .prog-row div {
  padding: 0px;
}

.profess-cover .progress-bar {
  background-color: #00ab9f;
}


.exp-cover {
  /* padding: 50px; */
}

@media screen and (max-width: 940px) {
  .exp-cover {
    padding: 30px 10px;
  }
}

.exp-cover .sec-title {
  padding   : 20px;
  text-align: center;
}


.exp-cover .service {
  padding: 20px;
}

.exp-cover .service .resume-dat {
  text-align: center;
}

.exp-cover .service .resume-dat p {
  text-align : center;
  font-weight: bold;
  color      : #00ab9f;
}

.exp-cover .service .rgbf h6 {
  color: #00ab9f;
}

.exp-row {
  margin        : 0px;
  border-bottom : 1px solid #CCC;
  padding-bottom: 10px;
  margin-bottom : 10px;
}

.exp-row h6 {
  width        : 100%;
  margin-bottom: 5px;
}

.exp-row i {
  margin-left: 10px;
}

.exp-row span {
  color: #009b7f;
}

.exp-row p {
  margin-top : 5px;
  text-indent: 15px;
}


.detal-jumbo {
  padding      : 20px 0px;
  border-bottom: 5px solid #3F3F3F;
}

ul.timeline {
  list-style-type: none;
  position       : relative;
}

ul.timeline:before {
  content   : ' ';
  background: #d4d9df;
  display   : inline-block;
  position  : absolute;
  left      : 29px;
  width     : 2px;
  height    : 100%;
  z-index   : 400;
}

ul.timeline>li {
  margin      : 20px 0;
  padding-left: 80px;
}

ul.timeline>li:before {
  content      : ' ';
  background   : white;
  display      : inline-block;
  position     : absolute;
  border-radius: 50%;
  border       : 3px solid #009b7f;
  left         : 20px;
  width        : 20px;
  height       : 20px;
  z-index      : 400;
}



.profess-cover {
  margin: 0 auto;
}

@keyframes load {
  from {
    width: 0%;
  }
}

@-webkit-keyframes load {
  from {
    width: 0%;
  }
}

@-moz-keyframes load {
  from {
    width: 0%;
  }
}

@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background-color: #eeeeee;
  padding         : 2px;
  border-radius   : 15px;
  margin-bottom   : 5px;
  font-size       : 14px;
  color           : #ffffff;
  font-weight     : bold;
  text-shadow     : 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
  content          : attr(data-skill);
  background-color : #f3b0ff;
  display          : inline-block;
  padding          : 5px 0 5px 10px;
  border-radius    : inherit;
  animation        : load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation   : load 2s 0s;
  -o-animation     : load 2s 0s;
}

.bar.front::before {
  background-color: #ffcc33;
}

.bar.back::before {
  background-color: #00ab9f;
}

.bar.learning::before {
  width: calc(20% - 10px);
}

.bar.basic::before {
  width: calc(40% - 10px);
}

.bar.intermediate::before {
  width: calc(60% - 10px);
}

.bar.advanced::before {
  width: calc(80% - 10px);
}

.bar.expert::before {
  width: calc(100% - 10px);
}



.progress-meter {
  min-height   : 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 50px;
}

.progress-meter>.meter {
  position    : relative;
  float       : left;
  min-height  : 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter>.meter-left {
  border-left-width: 2px;
}

.progress-meter>.meter-right {
  float             : right;
  border-right-width: 2px;
}

.progress-meter>.meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter>.meter>.meter-text {
  position   : absolute;
  display    : inline-block;
  bottom     : -20px;
  width      : 100%;
  font-weight: 700;
  font-size  : 0.85em;
  color      : rgb(160, 160, 160);
  text-align : left;
}

.progress-meter>.meter.meter-right>.meter-text {
  text-align: right;
}


.expertise-detail {
  padding: 0;
}

@media screen and (max-width: 940px) {
  .expertise-detail {
    padding: 30px 10px;
  }
}

.expertise-detail .sec-title {
  padding   : 20px;
  text-align: center;
  font-size : 22px;
}



.timeline {
  width      : 100%;
  position   : relative;
  padding    : 1px 0;
  list-style : none;
  font-weight: 500
}

.timeline .timeline-item {
  padding-left : 0;
  padding-right: 30px
}

.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left : 30px;
  padding-right: 0
}

.timeline .timeline-item .timeline-event {
  width: 100%
}

.timeline:before {
  border-right-style: solid
}

.timeline:before,
.timeline:after {
  content: " ";
  display: block
}

.timeline:after {
  clear: both
}

.timeline:before {
  content           : "";
  position          : absolute;
  top               : 0;
  left              : 0;
  bottom            : 0;
  width             : 50%;
  height            : 100% !important;
  margin-left       : 2px;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: rgba(52, 40, 104, .1)
}

.timeline .timeline-label .label {
  background-color: #e76c90;
  border-radius   : 35px;
  color           : #fff;
  display         : inline;
  font-size       : .85rem;
  font-weight     : 600;
  line-height     : 1;
  padding         : .65rem 1.4rem;
  text-align      : center;
  vertical-align  : baseline;
  white-space     : nowrap
}

.timeline.timeline-line-solid:before {
  border-right-style: solid
}

.timeline.timeline-line-dotted:before {
  border-right-style: dotted
}

.timeline.timeline-line-dashed:before {
  border-right-style: dashed
}

.timeline .timeline-item {
  position     : relative;
  float        : left;
  clear        : left;
  width        : 50%;
  margin-bottom: 20px
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table
}

.timeline .timeline-item:after {
  clear: both
}

.timeline .timeline-item:last-child {
  margin-bottom: 0 !important
}

.timeline .timeline-item.timeline-item-right>.timeline-event,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event {
  float: right !important
}

.timeline .timeline-item.timeline-item-right>.timeline-event:before,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before,
.timeline .timeline-item.timeline-item-right>.timeline-event:after,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after {
  right            : auto !important;
  border-left-width: 0 !important
}

.timeline .timeline-item.timeline-item-right>.timeline-event:before,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:before {
  left              : -15px !important;
  border-right-width: 15px !important
}

.timeline .timeline-item.timeline-item-right>.timeline-event:after,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-event:after {
  left              : -14px !important;
  border-right-width: 14px !important
}

.timeline .timeline-item>.timeline-event:before {
  top               : 10px;
  right             : -15px;
  border-top        : 15px solid transparent;
  border-left-width : 15px;
  border-left-style : solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom     : 15px solid transparent
}

.timeline .timeline-item>.timeline-event:after {
  top               : 11px;
  right             : -14px;
  border-top        : 14px solid transparent;
  border-left-width : 14px;
  border-left-style : solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom     : 14px solid transparent
}

.timeline .timeline-item>.timeline-point {
  top: 25px
}

.timeline .timeline-item:nth-of-type(2) {
  margin-top: 40px
}

.timeline .timeline-item.timeline-item-left,
.timeline .timeline-item.timeline-item-right {
  clear: both !important
}

.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  float: right;
  clear: right
}

.timeline .timeline-item.timeline-item-right>.timeline-point,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left)>.timeline-point {
  left: -14px
}

.timeline .timeline-item>.timeline-event {
  position: relative;
  float   : left
}

.timeline .timeline-item>.timeline-event:before {
  border-left-color : rgba(52, 40, 104, .04);
  border-right-color: rgba(52, 40, 104, .04)
}

.timeline .timeline-item>.timeline-event:after {
  border-left-color : rgba(52, 40, 104, .04);
  border-right-color: rgba(52, 40, 104, .04)
}

.timeline .timeline-item>.timeline-event:before,
.timeline .timeline-item>.timeline-event:after {
  content : "";
  display : inline-block;
  position: absolute
}

.timeline .timeline-item>.timeline-point {
  color        : #5d5386;
  background   : #5d5386;
  right        : -14px;
  width        : 12px;
  height       : 12px;
  margin-top   : -6px;
  margin-left  : 8px;
  margin-right : 8px;
  position     : absolute;
  z-index      : 100;
  border-width : 3px;
  border-style : solid;
  border-radius: 100%;
  line-height  : 20px;
  text-align   : center;
  box-shadow   : 0 0 0 5px #f2f3f8
}

.timeline .timeline-label {
  position     : relative;
  float        : left;
  clear        : left;
  width        : 50%;
  margin-bottom: 20px;
  top          : 1px;
  width        : 100%;
  margin-left  : auto;
  margin-right : auto;
  padding      : 0;
  text-align   : center
}

.timeline .timeline-label:before,
.timeline .timeline-label:after {
  content: "";
  display: table
}

.timeline .timeline-label:after {
  clear: both
}

.timeline .timeline-label:last-child {
  margin-bottom: 0 !important
}

.timeline .timeline-label+.timeline-item {
  margin-top: 0
}

.timeline .timeline-label+.timeline-item+.timeline-item {
  margin-top: 40px
}

.timeline .time-right {
  color      : rgba(52, 40, 104, .5);
  position   : absolute;
  bottom     : 0;
  right      : 0;
  font-size  : .85rem;
  font-weight: 500
}

.timeline .time-left {
  color      : rgba(52, 40, 104, .5);
  position   : absolute;
  bottom     : 0;
  left       : 0;
  font-size  : .85rem;
  font-weight: 500
}

.timeline .widget-header .user-image {
  display       : inline-block;
  vertical-align: middle;
  margin-right  : 1.07rem
}

.timeline .widget-header .user-image img {
  width: 50px
}

.timeline .widget-header .title {
  color    : #2c304d;
  font-size: 1rem
}

.timeline .widget-header .username {
  color: #e76c90
}

.timeline .widget-header .time {
  font-size: .85rem
}

.timeline .widget-body {
  padding: 1rem 1.4rem
}

.timeline .widget-footer {
  border-top: 1px solid #eee;
  margin    : 0 1.4rem;
  padding   : 1.07rem 0
}

.timeline .users-like {
  padding: 0
}

.timeline .users-like a {
  margin    : 0 -1.6rem 0 0;
  transition: all 0.4s ease
}

.timeline .users-like a:hover {
  margin-right: -.3rem
}

.timeline .users-like img {
  width : 40px;
  border: .25rem solid #fff
}

.timeline .users-like a.view-more {
  background    : #5d5386;
  color         : #fff;
  width         : 40px;
  height        : 40px;
  border        : .25rem solid #fff;
  border-radius : 50%;
  vertical-align: middle;
  font-size     : .85rem;
  text-align    : center;
  line-height   : 30px;
  margin-right  : 0
}

.timeline .widget-footer .meta li {
  display     : inline-block;
  margin-right: .5rem
}

.timeline .widget-footer .meta li:last-child {
  margin-right: 0
}

.timeline .widget-footer .meta li a {
  color: rgba(52, 40, 104, .3)
}

.timeline .widget-footer .meta li a:hover {
  color: rgba(52, 40, 104, .9)
}

.timeline .widget-footer .meta li i {
  font-size     : 1.8rem;
  vertical-align: middle;
  margin-right  : .3rem
}

.timeline .widget-footer .meta li .numb {
  vertical-align: middle
}

@media screen and (max-width:768px) {
  .timeline.timeline {
    width    : 100%;
    max-width: 100%
  }

  .timeline.timeline .timeline-item {
    padding-left : 72px;
    padding-right: 0
  }

  .timeline.timeline .timeline-item.timeline-item-right,
  .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left : 72px;
    padding-right: 0
  }

  .timeline.timeline .timeline-item .timeline-event {
    width: 100%
  }

  .timeline.timeline:before {
    left       : 42px;
    width      : 0;
    margin-left: -1px
  }

  .timeline.timeline .timeline-item {
    width        : 100%;
    margin-bottom: 20px
  }

  .timeline.timeline .timeline-item:nth-of-type(even) {
    margin-top: 0
  }

  .timeline.timeline .timeline-item>.timeline-event {
    float: right !important
  }

  .timeline.timeline .timeline-item>.timeline-event:before,
  .timeline.timeline .timeline-item>.timeline-event:after {
    right            : auto !important;
    border-left-width: 0 !important
  }

  .timeline.timeline .timeline-item>.timeline-event:before {
    left              : -15px !important;
    border-right-width: 15px !important
  }

  .timeline.timeline .timeline-item>.timeline-event:after {
    left              : -14px !important;
    border-right-width: 14px !important
  }

  .timeline.timeline .timeline-item>.timeline-point {
    transform  : translateX(-50%);
    left       : 42px !important;
    margin-left: 0
  }

  .timeline.timeline .timeline-label {
    transform: translateX(-50%);
    margin   : 0 0 20px 42px
  }

  .timeline.timeline .timeline-label+.timeline-item+.timeline-item {
    margin-top: 0
  }

  .timeline .time-right {
    left: 0
  }
}


.rounded-widget .widget {
  border-radius: 4px
}

.rounded-widget .widget-image {
  border-radius: 4px
}

.rounded-widget .widget-header {
  border-radius: 4px 4px 0 0
}

.rounded-widget .widget-footer {
  border-radius: 0 0 4px 4px
}

.widget {
  background   : #fff;
  border-radius: 0;
  border       : 1px solid #2c304d;
  margin-bottom: 30px
}

.widget-image {
  background   : #fff;
  border-radius: 0;
  border       : none;
  margin-bottom: 30px;
  position     : relative
}

.widget-header {
  background: #fff;
  padding   : .85rem 1.4rem;
  position  : relative;
  width     : 100%
}

.widget-header.bordered {
  border-bottom: .07rem solid #eee
}

.widget-header.no-actions {
  padding: 1.49rem
}

.widget-options .dropdown-toggle {
  color     : #98a8b4;
  background: none;
  border    : none;
  padding   : 0;
  font-size : 1.7rem;
}

.widget-header h1,
.widget-header h2,
.widget-header h3,
.widget-header h4,
.widget-header h5,
.widget-header h6 {
  color        : #2c304d;
  margin-bottom: 0
}

.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 {
  color        : #2c304d;
  font-weight  : 600;
  margin-bottom: 0
}

.widget-header h2 {
  color         : #2c304d;
  font-size     : 1.2rem;
  display       : table-cell;
  vertical-align: middle;
  margin-right  : auto
}

.widget-header h2 i {
  color         : #aea9c3;
  font-size     : 1.8rem;
  padding-right : .5rem;
  vertical-align: middle
}

.widget-body {
  padding: 1.4rem
}

.widget-image-footer {
  background: #fff;
  position  : absolute;
  bottom    : 0;
  width     : 100%;
  padding   : 1.2rem 0;
  z-index   : 1
}

.widget-footer {
  background: #fff;
  padding   : 1rem 1.07rem;
  position  : relative
}

.widget-footer.big {
  padding: 2.1rem 1.07rem
}

.no-border {
  border: 0 none !important;
}

.no-bg {
  background: none !important;
}



/*# sourceMappingURL=style.css.map */
