/* You can add global styles to this file, and also import other style files */
@import "./assets//css//bootstrap.min.css";
@import "./assets/css/fontawsom-all.min.css";
@import "./assets/css/style.css";



/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}