
<div class="tab-pane education-detail fade show" id="education" role="tabpanel" aria-labelledby="education-tab">
    <div class="sec-title">
        <h2>Education Details</h2>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>2008-2011</h6>
            <p>Bacholers Degree</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>Veer Narmad South Gujarat University</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="service no-margin row">
        <div class="col-sm-3 resume-dat serv-logo">
            <h6>2005 - 2008</h6>
            <p>Diploma</p>
        </div>
        <div class="col-sm-9 rgbf">
            <h5>Gujarat Technological University</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>