<div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="row no-margin home-det">
    <div class="col-md-4 big-img">
      <div class="side-image">
        <img src="assets/images/profile-big.jpg" alt="">
      </div>
      <div class="hobby-section">
        <h4 class="ltitle">Hobbies / Likes</h4>
        <hr />
        <ul class="hoby row no-margin">
          <li><i class="fas fa-eye"></i> <br> Reading</li>
          <li><i class="fas fa-bicycle"></i> <br> Cycling</li>
          <li><i class="fas fa-futbol"></i> <br> Football</li>
          <li><i class="fas fa-film"></i><br> Movies</li>
          <li><i class="fas fa-plane-departure"></i> <br>Travel</li>
          <li><i class="fas fa-gamepad"></i> <br> Games</li>
        </ul>
      </div>
      <h4 class="ltitle">Referencess</h4>
      <hr />

      <div class="refer-cov">

        <p><b>Ritesh Newal</b> Associate Architect </p>
        <span>Phone : +00 00000 00000</span>
      </div>

    </div>
    <div class="col-md-8 home-dat">
      <div class="detal-jumbo">
        <h3>What I?</h3>
        <hr />
        <h5>What I do?</h5>
        <p>Based as per title i am web application developer using front-end technologies like front-end
          framework, libraries, CSS preprocessor etc...</p>
        <hr />
        <h5>What I Like Most?</h5>
        <p>
          I prefere to work as stand-alone developer, but sometime as per requirement, also contribute as team
          player.
        </p>
        <hr />
        <h5>What is my Achivement?</h5>
        <p>
          I have successfully completed
        </p>
        <hr />
        <h5>What is my Objectives?</h5>
        <p>Innovative, creative, and a proven team player with front-end development expertise of building,
          developing, and
          managing websites, applications in various organizations. Looking forward to take challenging role
          where use these
          skills in providing quality service to the company.</p>
      </div>

      <h2 class="rit-titl"> Skills</h2>
      <div class="profess-cover row no-margin">
        <div class="col-md-6">
          <div class=" prog-row row">
            <div class="col-sm-6">
              Angular 7/8/9/10/11
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row prog-row">
            <div class="col-sm-6">
              HTML
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row prog-row">
            <div class="col-sm-6">
              CSS
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row prog-row">
            <div class="col-sm-6">
              SCSS
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row prog-row">
            <div class="col-sm-6">
              JavaScript
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row prog-row">
            <div class="col-sm-6">
              RxJs
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row prog-row">
            <div class="col-sm-6">
              Redux
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="links">
        <div class="row ">
          <div class="col-xl-6 col-md-12">
            <ul class="btn-link">
              <li>
                <a href=""><i class="fas fa-cloud-download-alt"></i>
                  Download Resume</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-6 col-md-12">
            <ul class="social-link">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-pinterest-p"></i></li>
              <li><i class="fab fa-linkedin-in"></i></li>
              <li><i class="fab fa-youtube"></i></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="jumbo-address">
        <div class="row no-margin">
          <div class="col-lg-6 no-padding">

            <table class="addrss-list">
              <tbody>
                <tr>
                  <th>Position</th>
                  <td>Sr. Software Developer</td>
                </tr>
                <tr>
                  <th>Nationality</th>
                  <td>Indian</td>
                </tr>
                <tr>
                  <th>Date of birth</th>
                  <td>18/02/1987</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="col-lg-6 no-padding">
            <table class="addrss-list">
              <tbody>
                <tr>
                  <th>Experiance</th>
                  <td>10+ Years</td>
                </tr>
                <tr>
                  <th>Website</th>
                  <td>www.yourdomain.com</td>
                </tr>
                <tr>
                  <th>Languages</th>
                  <td>English, Hindi, Gujarati</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
