<div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="row no-margin home-det">
    <div class="col-md-4 big-img">
      <div class="side-image">
        <img src="assets/images/profile-big.jpg" alt="">
      </div>
      <div class="hobby-section">
        <h4 class="ltitle">Hobbies / Likes</h4>
        <hr />
        <ul class="hoby row no-margin">
          <li><i class="fas fa-eye"></i> <br> Reading</li>
          <li><i class="fas fa-bicycle"></i> <br> Cycling</li>
          <li><i class="fas fa-futbol"></i> <br> Football</li>
          <li><i class="fas fa-film"></i><br> Movies</li>
          <li><i class="fas fa-plane-departure"></i> <br>Travel</li>
          <li><i class="fas fa-gamepad"></i> <br> Games</li>
        </ul>
      </div>

      <div class="ref-section">
        <h4 class="ltitle">Referencess</h4>
        <hr />
        <div class="refer-cov">
          <p><b>Ritesh Newal</b> Associate Architect </p>
          <span>Phone : +00 00000 00000</span>
        </div>
      </div>

    </div>
    <div class="col-md-8 home-dat">
      <h2 class="rit-titl"> What I </h2>
      <hr />
      <ul class="timeline">
        <li>
          <h5>Do upto</h5>
          <p>
            I am software professional. I'm having 10+ year of experience in IT. Also having a different domain
            experience like Automobile, Health-care, Recruitment, Collobrative app mangement, Board-game, Manufacturing,
            CRM, ERP...
          </p>
        </li>
        <li>
          <h5>Want to do</h5>
          <p>
            Innovative, creative, and a proven team player with front-end development expertise of building, developing,
            and
            managing websites, applications in various organizations. Looking forward to take challenging role where use
            these
            skills in providing quality service to the company
          </p>
        </li>
        <li>
          <h5>Want to achive</h5>
          <p>
            Want to be a team or tech leader.... AWA Certification, NodeJS Application Certification, SCRUM Master
          </p>
        </li>
      </ul>
      <div class="links">
        <h2 class="rit-titl"> Docs & Links</h2>
        <hr />
        <div class="row">
          <div class="col-xl-6 col-md-12">
            <ul class="btn-link">
              <li>
                <a href=""><i class="fas fa-cloud-download-alt"></i>
                  Download Resume</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-6 col-md-12">
            <ul class="social-link">
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-pinterest-p"></i></li>
              <li><i class="fab fa-linkedin-in"></i></li>
              <li><i class="fab fa-youtube"></i></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="links">
        <h2 class="rit-titl"> Info</h2>
        <hr />
        <div class="jumbo-address">
          <div class="row no-margin">
            <div class="col-lg-6 no-padding">
              <table class="addrss-list">
                <tbody>
                  <tr>
                    <th>Nationality</th>
                    <td>Indian</td>
                  </tr>
                  <tr>
                    <th>Date of birth</th>
                    <td>18/02/1987</td>
                  </tr>
                  <tr>
                    <th>Website</th>
                    <td>www.yourdomain.com</td>
                  </tr>
                  <tr>
                    <th>Marital status</th>
                    <td>Seperated</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
