<div class="tab-pane expertise-detail fade show" id="expertise" role="tabpanel" aria-labelledby="expertise-tab">
  <div class="row no-margin home-det">
    <div class="col-md-12 home-dat">
      <h2 class="rit-titl"> Skills</h2>
      <hr />
      <div class="profess-cover">
        <div class="bar back expert" data-skill="Angular / AngularJS"></div>
        <div class="bar back expert" data-skill="HTML"></div>
        <div class="bar back expert" data-skill="CSS / CSS3 / SCSS"></div>
        <div class="bar back intermediate" data-skill="Redux"></div>
        <div class="bar back advanced" data-skill="RxJs"></div>
        <div class="bar back basic" data-skill="Angular Material"></div>
        <div class="bar back basic" data-skill="Bootstrap"></div>
        <div class="bar back advanced" data-skill="CSS3"></div>
      </div>
      <div class="progress-meter">
        <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I suck</span></div>
        <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I know little</span></div>
        <div style="width: 30%;" class="meter meter-right"><span class="meter-text">I'm a guru</span></div>
        <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I''m good</span></div>
      </div>
    </div>
  </div>
</div>
